services:
  kafka:
    image: apache/kafka:latest
    container_name: ecommerce-kafka
    environment:
      KAFKA_NODE_ID: 1 # unique id
      KAFKA_PROCESS_ROLES: "broker,controller" # KRaft mode, single node acts as both broker (handles reads & writes) and controller (cluster metadata leader)
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093" # node with unique id = 1 reachable at kafka:9093

      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093" # address binding, 0.0.0.0 = all interfaces, broker on 9092, controller on 9093
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092" # tells clients to connect on kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT" # map listener names to protocol type. Using plaintext everywhere
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER" # tells kafka which listener is used for controller quorom communication
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT" # tells brokers which listener is used for broker-to-broker comms. Currently only have 1 broker

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true" # if a producer / consumer references a topic that doesnt exist, kafka will auto-create it
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1 # consumer will offset topic replication factor, stick to 1 since 1 broker
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1 # consumer will offset...., stick to 1 since 1 broker
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1 # use 1 for single node
    ports:
      - "9092:9092"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: ecommerce-kafka-ui
    depends_on:
      - kafka
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    ports:
      - "8085:8080"

  userservice:  
    build: 
      context: . # docker-compose location
      dockerfile: ECommerce.UserService/Dockerfile # Dockerfile location
    container_name: ecommerce-userservice
    depends_on: # ensures listed services are started before this service starts (does not guarantee health)
      - kafka 
    environment: # similar to appsettings. double underscore translates to colons : in .net config binding. Overrides listed env vars, the rest comes from appsettings.json
      - ASPNETCORE_ENVIRONMENT=Development
      - Kafka__Consumer__BootstrapServers=kafka:9092
      - Kafka__Consumer__GroupId=user-service
      - Kafka__Consumer__Topics__0=order.created.v1
      - Kafka__Producer__BootstrapServers=kafka:9092
      - Kafka__Producer__ClientId=user-service
      - Kafka__Topics__UserCreatedTopic=user.created.v1
      - Kafka__Topics__OrderCreatedTopic=order.created.v1
      - Kafka__Topics__DlqTopic=user-service.dlq.v1
    ports: # host port 5001 forwards to container port 8080 (Kestrel inside container)
      - "5001:8080"

  orderservice:
    build:
      context: .
      dockerfile: ECommerce.OrderService/Dockerfile
    container_name: ecommerce-orderservice
    depends_on:
      - kafka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Kafka__Consumer__BootstrapServers=kafka:9092
      - Kafka__Consumer__GroupId=order-service
      - Kafka__Consumer__Topics__0=user.created.v1
      - Kafka__Producer__BootstrapServers=kafka:9092
      - Kafka__Producer__ClientId=order-service
      - Kafka__Topics__UserCreatedTopic=user.created.v1
      - Kafka__Topics__OrderCreatedTopic=order.created.v1
      - Kafka__Topics__DlqTopic=order-service.dlq.v1
    ports:
      - "5002:8080"

  frontend:
    build:
      context: ./ecommerce.ui
      dockerfile: Dockerfile
    container_name: ecommerce-frontend
    depends_on:
      - userservice
      - orderservice
    environment:
      - VITE_USER_API_BASE_URL=http://localhost:5001
      - VITE_ORDER_API_BASE_URL=http://localhost:5002
    ports:
      - "5173:5173"
